.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.example-card {
    
  width: 50%;
  align-content: center;
 
}
.success{
    color: green;
    
}
.center{
  width: 40%;
  margin: 10px 10px auto;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.example-full-width {
  width: 100%;
}