
<mat-card class="example-card" >
  <mat-card-header layout="row" layout-align="center ">
    
    <mat-card-title>Add/Update Book</mat-card-title>
    
  </mat-card-header>
  
  <mat-card-content>
    <!--<div class="example-container">-->
  <form novalidate #f="ngForm">
  <mat-form-field class="example-full-width">
    <input matInput   [(ngModel)]="book.bookName" name="bookName" #bookName="ngModel" placeholder="Book Name" required>
    <mat-error *ngIf="bookName.errors?.required" class="error">Book Name is required</mat-error>
  </mat-form-field>
   <mat-form-field class="example-full-width">
    <input matInput  [(ngModel)]="book.authorName" name="authorName" #authorName=ngModel placeholder="Author Name" required>
    <mat-error *ngIf="authorName.errors?.required" class="error">Author Name is required</mat-error>
  </mat-form-field>
   <mat-form-field class="example-full-width" >
    <input matInput [(ngModel)]="book.edition" name="edition" #edition=ngModel placeholder="Edition" required>
    <mat-error *ngIf="edition.errors?.required" class="error">Edition is required</mat-error>
  </mat-form-field>
   <mat-form-field  class="example-full-width">
    <input matInput [(ngModel)]="book.category" name="category" placeholder="Category" >
    
  </mat-form-field>
   <mat-form-field  class="example-full-width">
    <input matInput  [(ngModel)]="book.price" name="price" placeholder="Price" >
    
  </mat-form-field>
  <mat-form-field  class="example-full-width" >
    <input matInput [(ngModel)]="book.copies" name="copies" placeholder="Copies" >
    
  </mat-form-field>
  <!--<mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>-->
<!--</div>-->
</form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="f.invalid" (click)=addBook(book)>Add/Update</button>
    <div *ngIf="message" [ngClass] = "'success'"> {{message}} </div>
   
  </mat-card-actions>
</mat-card>
 